@charset "utf-8";
/* CSS Document */

body{
	
	/* MODIFICAR DE ACORDO COM O TAMANHO DO EXERCÍCIO */
	width: 800px;
	height: 600px;
	/**************************************************/
	
	font-family: "Arial";
	font-size: 18px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#content{ 

	/* MODIFICAR DE ACORDO COM O TAMANHO DO EXERCÍCIO */
	width: 100%;
	height: 100%;
	/**************************************************/

	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-weight: 
	/*border:1px solid #CCCCCC;*/

}

	svg{ 
		height: 100%; 
		width: 100%; 
	}
	
	#main{
		position: absolute;
		width: 800px;
		height: 600px;
		left: 0px;
		top: 0px;
	}

		#title{
			position: absolute;
			width: 700px;
			height: 30px;
			left: 50px;
			top: 10px;
			line-height: 30px;
			font-size: 25px;
			text-align: center;
		}

		#prev{
			position: absolute;
			left: 10px;
			top: 10px;
			/*width: 50px;*/
			height: 20px;
			line-height: 20px;
			cursor: pointer;
			font-size: 12px;
			text-align: center;
			padding: 5px;
			padding-left: 8px;
			padding-right: 8px;
		}

		#next{
			position: absolute;
			right: 10px;
			top: 10px;
			/*width: 50px;*/
			height: 20px;
			line-height: 20px;
			text-align: right;
			cursor: pointer;
			font-size: 12px;
			text-align: center;
			padding: 5px;
			padding-left: 8px;
			padding-right: 8px;
		}

		#dist{
			position: absolute;
			left: 50px;
			top: 560px;
			width: 700px;
			height: 20px;
			text-align: center;
			z-index: 300;
		}

		#check{
			position: absolute;
			left: 635px;
			top: 55px;
			z-index: 200;
		}

		#distAngle{
			position: absolute;
			left: 640px;
			top: 75px;
			width: 150px;
			text-align: center;
			z-index: 300;
		}

		.inativo{
			color: #E9EBDA;
		}

		#conteudo{
			position: absolute;
			width: 780px;
			height: 540px;
			left: 10px;
			top: 50px;

		}

			/*.path-opt{
				float: left;
				width: 370px;
				height: 250px;
				margin: 10px;

				background-color: green;
			}*/

			#path0{
				position: absolute;
				width: 370px;
				height: 250px;
				left: 10px;
				top: 10px;

				background-color: #BDBDBD;
			}
			#path1{
				position: absolute;
				width: 370px;
				height: 250px;
				left: 400px;
				top: 10px;

				background-color: #BDBDBD;
			}
			#path2{
				position: absolute;
				width: 370px;
				height: 250px;
				left: 10px;
				top: 280px;

				background-color: #BDBDBD;
			}
			#path3{
				position: absolute;
				width: 370px;
				height: 250px;
				left: 400px;
				top: 280px;

				background-color: #BDBDBD;
			}